.navbar {
    font-size: 20px;
}

nav {
    padding: 20px 0px;
    background: rgb(141, 141, 141);
    display: flex;
    justify-content:left;
}

nav > a {
    margin: 0px 5px;
    padding: 10px 10px;
    background-color: rgb(224, 224, 224);
    border-radius: 8px;
    border-width: 1px;
    border-color: black;
    border-style:solid;
}